// Overriding Odoo Core Brand Colors
$o-brand-odoo: #0052cc;
$o-brand-primary: #0052cc;

// Overriding Bootstrap Theme Colors
$primary: #0052cc;
$secondary: #172b4d;
$info: #2684ff;

// Some button overrides to ensure text is white on primary
$btn-primary-color: #FFFFFF;
